<div class='container-fluid'>
  <div class='row'>
    <% @entrees.each do |entree| %>
      <div class='card mx-auto hvr-grow-shadow'>
        <% if entree.pic.attached? %>
          <%= image_tag url_for(entree.pic), class: 'sized-image' %>
        <% end %>
        <div class='card-body d-flex flex-column'>
          <h5 class='card-title mt-auto'><%= entree.name %></h5>
          <p class='card-text mx-auto'><%= entree.side_category_ids %></p>
          <p class='card-text mt-auto'>Calories per serving: XX</p>
          <p><%= link_to 'Delete this', entree_path(entree), method: :delete %></p>
          <p>
            <% if entree.user_id == current_user.id %>
              <%= link_to 'Update this entree', edit_entree_path(entree) %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
