<nav class='navbar navbar-expand-sm navbar-light bg-light'>
  <div>
    <%= link_to 'PUBGRUB', root_path, class: 'navbar-brand mb-0 h1' %>
  </div>

  <button type="button" class="btn-sm navbar-toggler navbar-toggler-right"
          data-toggle="collapse" data-target="#myNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class='collapse navbar-collapse' id='myNavbar'>
    <ul class='navbar-nav mr-auto'>
      <li class='nav-item nav-link <%= active_if(entrees_path) %>'>
        <%= link_to 'Entrees', entrees_path, class: 'nav-link' %>
      </li>
      <li class='nav-item nav-link <%= active_if(new_entree_path) %>'>
        <%= link_to 'Create an entree', new_entree_path, class: 'nav-link ' %>
      </li>
      <% if current_user.admin? %>
        <li class='nav-item nav-link <%= active_if(groceries_path) %>'>
          <%= link_to 'See all groceries', groceries_path, class: 'nav-link ' %>
        </li>
        <li class='nav-item nav-link <%= active_if(measurements_path) %>'>
          <%= link_to 'See all measurements', measurements_path, class: 'nav-link ' %>
        </li>
        <li class='nav-item nav-link <%= active_if(new_measurement_path) %>'>
          <%= link_to 'Create a Measurement', new_measurement_path, class: 'nav-link' %>
        </li>
        <li class='nav-item nav-link  <%= active_if(ingredients_path) %>'>
          <%= link_to 'See all ingerdients', ingredients_path, class: 'nav-link' %>
        </li>
        <li class='nav-item nav-link <%= active_if(new_ingredient_path) %>'>
          <%= link_to 'Create an ingredient', new_ingredient_path, class: 'nav-link' %>
        </li>
        <li class='nav-item nav-link <%= active_if(cuisines_path) %>'>
          <%= link_to 'See Cuisines', cuisines_path, class: 'nav-link' %>
        </li>
        <li class='nav-item nav-link <%= active_if(side_categories_path) %>'>
          <%= link_to 'See Side Categories', side_categories_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
    <span class='nav-item'>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link mr-sm-2' %>
    </span>
  </div>
</nav>
