<% if v["ingredient_id"].present? %>
  <% ingredient = Ingredient.find(v["ingredient_id"]) %>
  <% if v.key?("Whole") && v.key?("ingredient_id") %>
    <li class=<%= "#{ingredient.status}" %>>
      <%= link_to "#{k}", update_status_ingredient_path(ingredient)  %>: <%= v.values[0] %>
    </li>
  <% else %>
    <li class=<%= "#{ingredient.status}" %>><%= link_to "#{k}", update_status_ingredient_path(ingredient) %></li>
    <ul>
      <% v.each do |key, val| %>
        <% next if key == "ingredient_id" %>
        <li class=<%= "#{ingredient.status}" %>><%= key %>: <%= val %></li>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <% staple = Staple.find(v["staple_id"]) %>
    <li class=<%= "#{staple.status}" %>><%= link_to "#{staple.name}", update_status_staple_path(staple) %></li>
    <ul>
      <% v.each do |key, val| %>
        <% next if key == 'staple_id' %>
        <li class=<%= "#{staple.status}" %>><%= key %>: <%= val %></li>
      <% end %>
    </ul>
<% end %>
