<h1>Ingredients#show</h1>
<p>Find me in app/views/ingredients/show.html.erb</p>

<p><%= link_to 'Back to dashboard', root_path %></p>
<p><%= link_to 'See the ingredients', ingredients_path %></p>
<p><%= link_to 'See the meals', meals_path %></p>
<p><%= link_to 'See the groceries', groceries_path %></p>

<%= @ingredientmeal_name %>
<%= @ingredient.grocery %>
<%= @ingredient.measurement %>
<%= @ingredient.quantity %>
