<div class='container-fluid'>
  <div class='d-flex justify-content-center'>
    <%= form_for @grocery do |f| %>
      <% if @grocery.errors.any? %>
        <div id="error_explanation">
          <p>
            <%= pluralize(@grocery.errors.count, "error") %> prohibited
            this article from being saved:
          </p>
          <% @grocery.errors.full_messages.each do |msg| %>
            <li><center><%= msg %></li>
          <% end %>
        </div>
      <% end %>
      <p>
        <%= f.label 'Name' %>
        <%= f.text_field :name %>
      </p>

      <p>
        <%= f.label 'Calories per Package' %>
        <%= f.number_field :calories_per_package, step: 0.1 %>
      </p>

      <p>
        <%= f.label 'Grams per Package' %>
        <%= f.number_field :grams_per_package, step: 0.1 %>
      </p>

      <p>
        <%= f.label 'Calories per Gram' %>
        <%= f.number_field :calories_per_gram, step: 0.1 %>
      </p>

      <p>
        <%= f.submit %>
      </p>

    <% end %>
  </div>
</div>
