<div>
  <%= form_for @meal do |f| %>
    <% if @meal.errors.any? %>
      <div id="error_explanation">
        <p>
          <%= pluralize(@meal.errors.count, "error") %> prohibited
          this article from being saved:
        </p>
        <% @meal.errors.full_messages.each do |msg| %>
          <li><center><%= msg %></li>
        <% end %>
      </div>
    <% end %>
  <p>
    <%= f.label 'Name' %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label 'Pic' %>
    <%= f.file_field :pic %>
  </p>

  <p>
    <%= f.label 'Cuisine' %>
    <%= f.text_field :cuisine %>
  </p>

  <p>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </p>

  <p>
    <%= f.submit %>
  </p>

  <% end %>
</div>
