<h1>Meals#show</h1>
<p>Find me in app/views/meals/show.html.erb</p>

<p><%= link_to 'Edit this meal', edit_meal_path(@meal) %></p>
<p><%= link_to 'Back to meal index', meals_path %></p>
<p><%= link_to 'Back to dashboard', root_path %></p>

<div>
  <h3><%= @meal.name %></h3>
  <p><%= @meal.cuisine %></p>
  <p>
    <% if @meal.pic.attached? %>
      <%= image_tag url_for(@meal.pic), class: 'sized-image' %>
    <% else %>
      Add a picture!
    <% end %>
  </p>
  <p>
    Ingredients:
  </p>
  <hr />
  <% @meal.ingredients.each do |ingredient| %>
    <p>
      <%= ingredient.grocery %><br />
      <%= ingredient.measurement unless ingredient.measurement.nil? %><br />
      <%= ingredient.quantity unless ingredient.quantity.nil? %><br />
    </p>

  <% end %>
  <hr />
</div>
