<h1>Dashboards#index</h1>
<p>Find me in app/views/dashboards/index.html.erb</p>

<p><%= link_to 'See all users', users_path %></p>
<p><%= link_to 'See all meals', meals_path %></p>
<p><%= link_to 'Create a meal', new_meal_path %></p>
<% if current_user.admin? %>
  <p><%= link_to 'See all groceries', groceries_path %></p>
  <p><%= link_to 'See all measurements', measurements_path %></p>
  <p><%= link_to 'Create an ingredient', new_ingredient_path %></p>
<% else %>
  <p>Links are hidden here.</p>
<% end %>

<div>
  <%= @grocery_list.grocery_quantity %>
</div>
<br />
<div>
  <div>Our shopping list for the week:</div>
  <dl>
    <% @grocery_list.grocery_quantity.each do |k, v| %>
      <% if v.is_a?(Hash) %>
        <dt class='js-click'><%= k %>: </dt>
        <% v.each do |key, val| %>
          <div class='d-inline'>
            <dd class='js-click'><span>&#x2219;</span><%= key %>: <%= val %></dd>
          </div>
        <% end %>
      <% else %>
        <div>
          <dt class='js-click'><%= k %>: <%= v %></dt>
        </div>
      <% end %>
    <% end %>
  </dl>
</div>
